#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

#toot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}