@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); 

* {
  box-sizing: border-box;
  margin: 10;
} 

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    margin-top: 10px;
    justify-content: center;
}

#header {
    /* position: fixed;
    transform: translate(-50%, -50%);
    top: 3.5%;
    left: 50%; */

    position: sticky;
    top: -2%;
  
}

ul {
    list-style-type: none;
    display: flex;
    padding: 18px 0;
    background-size: 400% 400%;
    /* background-image: linear-gradient(-45deg, #9ea8d3, #5E17EB, #071aa4, #ff8033,#07c44c); */
    background-image: linear-gradient(-45deg, #2d3f8f, #391288, #071aa4, #834480,#0e5474);
    animation: 12s myGradient infinite;
    border-radius: 40px;
    /* box-shadow: 3px 3px 20px #04f450; */
    box-shadow: 3px 3px 20px #7c04f4;
    /* border-top-left-radius: 0px;
    border-bottom-right-radius: 0px; */
}
  
@keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
} 
.fa-search{
    transition: 1s;
    cursor: pointer;
    margin-left: 30px;
}

.active {
    transition: 1s;
 }
  
.active1{
    transition: 1s;
}
  
.active2 {
    transition: 1s;
}
  
.active3 {
    transition: 1s;
}

li a{
    color: #fff;
    text-decoration: none;
    padding: 45px 45px;
    font-family: sans-serif;
    /* font-weight: lighter; */
    font-size: 24px;
    letter-spacing: 1px;
    opacity: 0.9;
}

.fa-search:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
}


.active3:hover{
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
    margin-top: -100px;
}
  
.active2:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
}
  
.active1:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    cursor: pointer;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
}
  
.active:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
}

@keyframes myFlash {
  0% {
    opacity: 1;
    text-shadow: transparent;
  }
  
  50% {
    opacity: .1;
  }
  
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fff;
  }
}

.line {
  height: 40px;
  width: 2px;
  background: #fff;
  margin: 0;
  position: absolute;
  left: 88%;
  top: 30%;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 300px;
  padding: 10px;
}

#create_account {
  display: flex;
  justify-content: center;
}

#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 70%; */
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
  padding-bottom: 10px;
}

#toot-container {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#tag-search {
  background: #fff;
  height: 30px;
  width: 500px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;

  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.toot-card {
  display: flex;
  flex-direction: column;
  border-color: grey;
  align-items: center;
  height: auto;
  width: 400px;
  border-style: groove;
  border-radius: 30px;
  border-color: rgb(68, 0, 93);
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-family: sans-serif;
  color: #d0d0d0;
  background: linear-gradient(to bottom, #1b2575, #302b63, #24243e);
  box-shadow: 0 0 30px 1px #442a6d;
}

.toot-username {
  align-self: flex-start;
  cursor: pointer;
}

.toot-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  background-color: rgb(79, 177, 247);
  box-shadow: 0 0 10px 1px #652a6d;
  border-radius: 15px;
  padding: 5px;
  margin: 3px;
  color: rgb(4, 4, 158);
}

.toot-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.like-toot {
  transition: 0.7s;
}

.like-toot:hover {
  cursor: pointer;
  color: hsl(230, 80%, 90%);
  text-shadow:
    0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 60%, 0.5),
    0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
    -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  transition: 0.5s;
}

.delete-toot {
  border-radius: 30px;
  border-color: red;
  background: rgb(123, 15, 15);
  box-shadow: 0 0 10px 1px #9b2a8e;
  transition: 0.5s;
}

.delete-toot:hover {
  background: rgb(186, 22, 22);
  box-shadow: 0 0 15px 2px #ff46e9;
  transition: 0.5s;
}

.main {
  /* position: absolute;
  top: 15%;
  left: 50%; */
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000; 
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width:100%;
	height: 100%;
}

.main label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.login {
	height: 360px;
	/* background: #eee; */
  background: linear-gradient(to bottom, #1b2575, #302b63, #24243e);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
	/* color: #573b8a; */
	transform: scale(.6);
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}

#chk:checked ~ .login label{
	transform: scale(1);
}

#chk:checked ~ .signup label{
	transform: scale(.6);
}

.main input {
  width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.main button,
.fancy-button {
  width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.main button:hover,
.fancy-button:hover {
    background: #6d44b8;
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}

.box {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    top: 30%;
    left: 1%; */
}
  
.box .inner {
    /* width: 400px;
    height: 200px;
    line-height: 200px; */
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    background-color: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    animation: lights 7s 800ms linear infinite;
    /* transform-origin: right;
    transform: perspective(100px) rotateY(-15deg); */
  }
  
  /* .box .inner:last-child {
    background-color: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    animation: lights 7s 100ms linear infinite;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
  } */
  
  /* .box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
  } */
  
  /* .box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
  } */
  
  /* @keyframes marquee {
    from {
      left: 100%;
    }
  
    to {
      left: -100%;
    }
  } */

.subtitle {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;
  animation: lights 7s 800ms linear infinite;
}

.sub-subtitle {
  font-family: sans-serif;
  background-color: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;
  animation: lights 7s 800ms linear infinite;
}

body {
  background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
}

#new-toot,
#new-tag {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#new-toot-textbox,
#new-tag-field {
  border-radius: 5px;
  width: 250px;
}

#taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 250px;
  gap: 5px;
  border-style: dashed;
  border-radius: 10px;
  border-color: #07c44c;
  color: #04f450;
  font-family: sans-serif;
  padding: 5px;
}

.error-box {
  display: flex;
  justify-content: center;
  color: red;
  font-family: sans-serif;
  border-style: double;
  border-radius: 10px;
  border-color: red;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}