#login-form, #signup-form, #profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

#toot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
